.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.62);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  border-radius: 2rem;

  * {
    pointer-events: none;
  }

  svg {
    height: 5rem;
    width: 5rem;
    fill: rgba(255, 255, 255, .8)
  }

  span {
    margin-top: .5rem;
    color: rgba(255, 255, 255, 0.8);
  }
}